$util.qr($ctx.stash.put("isbn", $ctx.args.createBanInput.isbn))
$util.qr($ctx.stash.put("leaId", $ctx.args.createBanInput.leaId))
$util.qr($ctx.stash.put("leaName", $ctx.args.createBanInput.leaName))
$util.qr($ctx.stash.put("whenBanned", $ctx.args.createBanInput.whenBanned))
$util.qr($ctx.stash.put("banTypeId", $ctx.args.createBanInput.banTypeId))
$util.qr($ctx.stash.put("links", $ctx.args.createBanInput.links))
{}