{
  "version" : "2017-02-28",
  "operation" : "Query",
  "query" : {
    "expression": "#PK = :PK and begins_with(#SK, :SK)",
    "expressionNames" : {
      "#PK" : "PK",
      "#SK" : "SK"
    },
    "expressionValues" : {
      ":PK" : { "S": "ban" },
      ":SK" : { "S": "ban#$ctx.args.getBansByIsbnInput.isbn" }
    }
  }
}